body {
        background-image: url(../img/body-bg.png);
  background-color: #262626;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #262626;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -9999;
}

canvas {
    display: block;
    vertical-align: top;
    position:fixed; 
    top:0;
}


